.grid-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 90px auto 80px;
    grid-template-areas:
    "header"
    "main"
    "footer";
}
.main-content {
    grid-area: main;
}

.header {
    grid-area: header;
    background-color: #1ba0f7;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
        width: 64px;
        height: 64px;
    }
}

.footer {
    grid-area: footer;
    background-color: #1ba0f7;
}
