<div class="info-container">
    <div class="info-def">
        <a href="https://github.com/css-modules/css-modules" target="_blank">
            <img class="css-logo" src="assets/img/css-modules-logo.png">
        </a>
        <h3>What are CSS Modules?</h3>
        <p>
            CSS files in which all class names and animation names are scoped locally by default.
        </p>
    </div>
    <div class="info-details">
        <h3>How to implement CSS Modules in Angular?</h3>
        <p>
            Thanks to <a href="https://postcss.org/" target="_blank">postcss</a> and the plugin <a href="https://github.com/css-modules/postcss-modules" target="_blank">postcss-modules</a>.<br>
            Also, thanks to <a href="https://github.com/posthtml/posthtml" target="_blank">posthtml</a> and the plugin <a href="https://github.com/posthtml/posthtml-css-modules" target="_blank">posthtml-css-modules</a>
        </p>
    </div>
</div>